# Compiled files
terraform_global/.tfstate
terraform_global/.tfstate.backup
terraform_global/.terraform.tfstate.lock.info

terraform_global/terraform.tfstate.d
# Module directory
terraform_global/.terraform 


# Compiled files
shared_resources/.tfstate
shared_resources/.tfstate.backup
shared_resources/.terraform.tfstate.lock.info

shared_resources/terraform.tfstate.d
# Module directory
shared_resources/.terraform

